{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
<div class="container py-4">
    <div class="row">
        <!-- Filter Sidebar -->
        <div class="col-lg-3 mb-4">
            {% include "job/components/filter_sidebar.html" with filter_form=myjobfilter.form %}
        </div>
        
        <!-- Job Listings -->
        <div class="col-lg-9">
            <!-- Job Listing Header -->
            {% include "job/components/listing_header.html" with title="Job Listing" %}

            <!-- Job List Items -->
            <div class="job-list">
                {% for job in jobs %}
                    {% include "job/components/job_item.html" with job=job %}
                {% empty %}
                    <div class="alert alert-info">No jobs found matching your criteria.</div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            {% include "job/components/pagination.html" with page_obj=jobs %}
        </div>
    </div>
</div>
{% endblock body %}