{% extends 'base.html' %}
{% load bootstrap4 %}

<!-- bradcam_area  -->
{% block body %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"> <!-- Changed from col-lg-9 to col-lg-12 -->
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn3" href="{% url 'blogs:blog_create_post' %}">Create Post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>Post Listing</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="col-12 mb-5 mb-lg-0 p-0"> <!-- Changed from col-lg-8 to col-12 and added p-0 -->
                        <div class="blog_left_sidebar w-100"> <!-- Added w-100 -->
                            <div class="row w-100 mx-0"> <!-- Added w-100 and mx-0 -->
                                {% for blog in blogs %}
                                    <div class="col-12">
                                        {% include 'blog/blog_list_item.html' %}
                                    </div>
                                {% endfor %}
                            </div>
                        
                            {% if blogs.has_other_pages %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pagination_wrap">
                                            <ul>
                                                {% if blogs.has_previous %}
                                                    <li><a href="?page={{ blogs.previous_page_number }}"> <i class="ti-angle-left"></i> </a></li>
                                                {% endif %}
                        
                                                {% for i in blogs.paginator.page_range %}
                                                    <li><a href="?page={{ i }}"><span>{{ i }}</span></a></li>
                                                {% endfor %}
                        
                                                {% if blogs.has_next %}
                                                    <li><a href="?page={{ blogs.next_page_number }}"> <i class="ti-angle-right"></i> </a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->
{% endblock body %}